:root {
  --font-size: 1.3rem;
  --mono: "Oxygen mono", monospace;
  --sans: Oxygen, sans-serif;
  --light-blue: #d0f2e9;
  --back-groundColor: #2e3740;
  --dark-project-boxes: #2a3e52;
  --body-background: whiteSmoke;
  --contact: #8c3b4a;
  --white: #ffffff;
  --href-hover: #f25774;
  --h3projects: #ba1c59;
}
/* Generic Styles of the page*/
html {
  box-sizing: border-box;
}
* {
  scroll-behavior: smooth;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}
body {
  padding: 0;
  margin: 0;
  font-family: var(--sans);
  background-color: var(--body-background);
  color: var(--white);
  font-size: var(--font-size);
}
h1,
h2,
h3 {
  margin: 0;
}
a {
  color: var(--href-hover);

  text-decoration: none;
  font-weight: bold;
}
a:hover {
  color: var(--light-blue);
  text-decoration: none;
}
img {
  width: 100%;
}
.container {
  background-color: var(--back-groundColor);
  padding: 0;
}
/* div background */
.gradient {
  background: var(--light-blue);
  height: 3px;
}
.section-contact {
  background-color: var(--contact);
}

/* intro style*/
#intro {
  padding: 4rem 1rem 8rem 1rem;
  max-width: 1200px;
  margin: 0 auto;
  padding-bottom: 10rem;
}
.intro-paragraph {
  font-size: 17px;
  line-height: 32px;
  text-align: justify;
}
#intro .name {
  font-family: var(--mono);
  font-size: 1rem;
  margin-top: 5rem;
}
.name span {
  font-family: var(--sans);
  font-size: 4rem;
  color: var(--light-blue);
  font-weight: 300;
  display: block;
}
#intro h2 {
  font-size: 2.5rem;
}

/* contact section */
#contact {
  font-size: 17px;
  text-align: center;
  width: 500px;
  padding: 4rem 0;
  margin: 0 auto;
  line-height: 30px;
}
#contact p:last-child {
  margin-top: 3rem;
}

/* navbar */
nav {
  font-family: var(--mono);
  font-size: 80%;
  padding: 2rem 1.5rem;

  background-color: var(--back-groundColor);
  width: 100%;
  top: 0;
  height: 100px;
}
nav ul {
  list-style-type: none;
  display: flex;
  padding: 0;
  margin: 0;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
nav li:first-child {
  flex-basis: 100%;
  text-align: center;
}
nav [class*="fa-"] {
  font-size: 150%;
  color: var(--light-blue);
}
nav h1 [class*="fa-"] {
  font-size: 100%;
  color: var(--href-hover);
}

ul h1 a {
  font-family: var(--sans);
}
nav a {
  color: var(--white);
  text-decoration: none;
  display: block;
}

nav a:hover,
nav [class*="fa-"]:hover {
  color: var(--href-hover);
}
.email-button {
  background-color: var(--back-groundColor);
  color: var(--light-blue);
  padding: 15px 25px;
  font-weight: bold;
  border-radius: 5px;
  font-family: var(--mono);
  text-decoration: none;
  transition: all 200ms ease-in-out;
}
.email-button:hover {
  background-color: var(--light-blue);
  color: var(--back-groundColor);
}
.button {
  background-color: var(--href-hover);
  color: var(--white);
  padding: 0.5rem;
  border-radius: 5px;
  font-family: var(--mono);
  text-decoration: none;
}
.button:hover {
  color: var(--href-hover);
  background-color: var(--white);
}
.button-contact {
  color: var(--white);
  background-color: var(--back-groundColor);
  padding: 0.5rem;
  border-radius: 5px;
  font-family: var(--mono);
  text-decoration: none;
}
.button-contact:hover {
  color: var(--back-groundColor);
  background-color: var(--white);
}

/* projects section */
.section-projects {
  background-color: white;
}
#projects {
  padding: 4rem 1rem;
}
#projects h2 {
  font-size: 2rem;
  margin-bottom: calc(2.5rem * 1.5);
  color: var(--back-groundColor);
}
#projects h3 {
  color: var(--h3projects);
  line-height: 50px;
}
#projects h4 {
  font-size: 1rem;
  font-family: var(--mono);
  margin: 0;
  color: var(--back-groundColor);
}
.project-title-link {
  text-decoration: none;
  color: var(--contact);
}
.project-description-box {
  background-color: var(--back-groundColor);
  opacity: 0.9;
  border-radius: 10px;
  padding: 1rem;
  font-size: 14px;
  line-height: 1.7rem;
  color: var(--white);
  text-align: justify;
}
#projects ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  gap: 1rem;
  font-size: 14px;
  line-height: 30px;
  color: var(--back-groundColor);
}
#projects img {
  margin: 2rem 0 4rem 0;

  padding: 1rem;
  border-top: 2px solid var(--light-blue);
  border-radius: 25px;
  width: 500px;
  height: 400px;
  cursor: pointer;
  transition: transform 0.25s ease-out;
}
#projects img:hover {
  transform: scale(1.05);
  opacity: 1;
}
.border-right {
  border-right: 2px solid var(--light-blue);
}
.border-left {
  border-left: 2px solid var(--light-blue);
}
/*footer*/
footer {
  text-align: center;
  padding: 4rem 0;
}
footer ul {
  list-style-type: none;
  font-size: 3rem;
  padding: 0;
  margin: 2rem 0;
  display: flex;
  flex-flow: flex wrap;
  justify-content: center;
  gap: 3rem;
}
.projects-content {
  display: flex;
  align-items: center;
}

/*responsive design*/
@media (min-width: 800px) {
  article {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
  }
  #projects {
    max-width: 1000px;
    margin: 0 auto;
    padding: 100px 0;
  }
  #projects img {
    grid-column: 1/6;
    grid-row: 1/2;
  }
  .projects-content {
    grid-column: 5/11;
    grid-row: 1/2;
    order: 2;
    text-align: right;
  }

  #projects ul {
    justify-content: flex-end;
  }
  #projects .reverse img {
    grid-column: 6/11;
    grid-row: 1/2;
  }
  #projects .reverse .projects-content {
    grid-column: 1/7;
    order: 2;
    text-align: left;
  }
  #projects .reverse ul {
    justify-content: flex-start;
  }
}
@media (min-width: 850px) {
  nav a {
    max-width: 1200px;
    margin: 0 auto;
  }
  nav li:first-child {
    flex-basis: auto;
    text-align: left;
    margin-right: auto;
  }
}
.logo {
  width: 200px;
}
@media (max-width: 850px) {
  .name span {
    font-family: var(--sans);
    font-size: 2rem;
    color: var(--light-blue);
    font-weight: 100;
    display: block;
  }
  #intro h2 {
    font-size: 2rem;
  }

  #projects h2 {
    font-size: 2rem;
  }
  footer h2 {
    font-size: 1rem;
  }
}
